body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  textarea {
    width: 500px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
  
  button {
    margin-top: 10px;
  }
  
  #output-text {
    margin-top: 20px;
  }
  